body {
    background-color: #ffffff;
    color: black;
}

.minefield-wrapper{ 
    position: relative;
	background-color: #bdbdbd;
	padding: 7px;
	border-left: 3px solid #fff;
	border-top: 3px solid #fff;
	display: inline-block;
}

.info {
	border-bottom: 7px solid #bdbdbd; 
	position: relative;
	overflow: hidden;
} 

.info div {
     
}

.flags-value { left: 0; }
.timer-value { right: 0; }

.flags-value,
.timer-value  {
	overflow: hidden;
	position: absolute;
	top: 1px;
	z-index: 1;
	border: 1px solid;
	border-color: #808080 #fff #fff #808080;
}

.timer-value {
    display: inline;
}

#emoji  {
	height: 26px;
	width: 26px;
	margin: 0 auto;
	background: url('../img/classic_sprite.png') no-repeat;
}

#emoji:active {
	background-position: -26px -55px !important;
}

.face-smile { background-position: 0 -55px !important;}
.face-surprised  { background-position: -52px -55px !important; }
.face-lost  { background-position: -78px -55px !important; }
.face-won { background-position: -104px -55px !important; }

table{
    position: relative;
	background-color: #bdbdbd;
	padding: 7px;
	border-left: 3px solid #fff;
	border-top: 3px solid #fff;
	color: transparent;
}

tbody {
	overflow: hidden;
	border: 3px solid;
	border-color: #7d7d7d #fff #fff #7d7d7d;
}

table td {
    float: left;
	width: 16px;
	height: 16px;
	background: url('../img/classic_sprite.png') no-repeat;
}

.flipped { background-position: 0 -40px; }
.mines0  { background-position: 0 -23px; }
.mines1  { background-position: -16px -23px; }
.mines2  { background-position: -32px -23px; }
.mines3  { background-position: -48px -23px; }
.mines4  { background-position: -64px -23px; }
.mines5  { background-position: -80px -23px; }
.mines6  { background-position: -96px -23px; }
.mines7  { background-position: -112px -23px; }
.mines8  { background-position: -128px -23px; }
.mine  { background-position: -64px -39px; }
.mine-hit { background-position: -32px -39px; }
.flag { background-position: -16px -39px; }

.mousedown-hover {
    background: url('../img/classic_sprite.png') 0px -24px;
}

.numbers .t0 { background-position: 0 0; }
.numbers .t1 { background-position: -13px 0; }
.numbers .t2 { background-position: -26px 0; }
.numbers .t3 { background-position: -39px 0; }
.numbers .t4 { background-position: -52px 0; }
.numbers .t5 { background-position: -65px 0; }
.numbers .t6 { background-position: -78px 0; }
.numbers .t7 { background-position: -91px 0; }
.numbers .t8 { background-position: -104px 0; }
.numbers .t9 { background-position: -117px 0; }
.numbers .tm { background-position: -130px 0; }